#feed {
    background-color: #E4E2E7;
}

#barra {
    background-color: ;
}

#offcanvasNavbar {
    background-color: #554769;
    color: white;
}

#offcanvas-body {
    color: white;
}

#cardPerf{
    background-color: #554769;
    color: white;
}
